doctype html
//if IE 6
  html#ie6(lang='en-US')
//if IE 7
  html#ie7(lang='en-US')
//if IE 8
  html#ie8(lang='en-US')
// [if !(IE 6) | !(IE 7) | !(IE 8)  ] <!
html(lang='en-US')
  // <![endif]
  head
    meta(charset='utf-8')
    title Rentfy.HQ
    // Set the viewport width to device width for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    // custom favicon
    meta(name='robots', content='noindex,nofollow')
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/prettyPhoto.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/validationEngine.jquery.css', type='text/css')
    link#style-css(rel='stylesheet', href='http://themes.layero.com/grahawp/wp-content/themes/graha/css/graha-blue.css?ver=3.6.1', type='text/css', media='all')
    link(rel='stylesheet', type='text/css', href='stylesheets/main.css')
    // scripts
    script(type='text/javascript', src='/javascripts/vendor/jquery/jquery.js')
    script(type='text/javascript', src='/javascripts/vendor/jquery/jquery-migrate.js')
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?v=3&sensor=true&libraries=places&ver=3.6.1')
    script(type='text/javascript', src='/javascripts/main.js')
    block content