 <footer class="footer">
  <div class="container">
      <div class="row">
      <div class="col-xs-12 col-md-4">
        
      </div>
      <div class="col-xs-12 col-md-4 ">
        
      </div>
      <div class="col-xs-12 col-md-4 contacts">
        <h4>Contact Us</h4>
        <p>Our Address Line<br>
           Our Street Address<br>
           Dar Es salaam,<br>
           Tanzania. </p>
           <div>Email: barnabasmakonda@gmail.com</div>
           <div>Phone : +255 685 557 050</div>
      <div class="social">
              <ul class="nav">
                <li class="scoialt"><a href="https://www.facebook.com/" target="_blank" class="facebook"></a></li>
                <li class="scoialt"><a href="http://twitter.com/" target="_blank" class="twitter"></a></li>
                <li class="scoialt"><a href="https://mail.google.com" target="_blank" class="google"></a></li>
                <li class="scoialt"><a href="http://themes.layero.com/grahawp/feed/" target="_blank" class="rss"></a></li>
                <li class="scoialt"><a href="http://pinterest.com/" target="_blank" class="pintrest"></a></li>
                <li class="scoialt"><a href="" target="_blank" class="digg"></a></li>
              </ul>
            </div>
        </div>

      </div> 
      </div>
   </div>
   <div class="copyright"><div class="container"><div class="col-xs-12 col-sm-6 col-md-8">© 2014  Barnabas Makonda |  All rights reserved.</div></div></div>
</footer>