<div class="property_map_details">
<div class="location">{{name || 'Name'}}</div>
<div class="image"><a href="#"><img width="500px" height="200px" src="{{image}}"></a></div>
<div class="details">
  <div class="property-type">{{type}}</div>
  <div class="Area">{{area}}</div>
  <div class="Bathrooms">{{baths }} Bathrooms</div>
  <div class="Bedrooms">{{beds}} Bedrooms</div>
  </div>
  <ul class="list-inline list4 clearfix" >
      <li>{{item}}</li>
  </ul>
  <div class="contact">
  <a href="#" class="btn btn-large btn-primary">Read More</a><a href="#"   class="btn btn-large btn-primary pull-right">Send Enquiry</a></div>

  </div>