<div class="property_map_details">
<div class="location">name</div>
<div class="image"><a href="#">{{logo}}</a></div>
<div class="details">
  <div class="property-type">{{type}}</div><div class="Area">{{area}}</div><div class="Bathrooms">{{baths }} Bathrooms</div><div class="Bedrooms">{{beds}} Bedrooms</div>
  </div>
  <ul class="list-inline list4 clearfix">amenities</ul>
  <div class="contact">
  <a href="'+link[index]+'" class="btn btn-green">Read More</a><a  data-toggle="modal" href="#myModal" style="margin-left:10px;" onclick="senddata('+url+','+agentemail+'); return false;"  class="btn btn-green">Send Enquiry</a></div>

  </div>